[init]
  defaultBranch = main
[core]
  editor = nvim
[include]
  path = ~/.gitconfig-local
[user]
  email = josh@joshualester.com
  name = Josh Lester
[alias]
  s = status
  l = log
  a = add
  cm = commit -m
  b = branch
  sw = switch
  swc = switch -c
  p = push
  pl = pull
